

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #333;
    background-color: #ffffff;
    text-align: justify;
}


p
{
    text-align: justify;
}


a.reference.external {
  color: 	rgb(50, 160, 180) !important;  /* Replace with your desired color */
  text-decoration: underline;
}

a.reference.external:hover {
  color: 	rgb(60, 180, 190) !important;  /* Replace with your desired color */
}


nav
{
    text-align: left;
}
.md-nav__title[for="__toc"] {
    display: none;
}

.md-nav__title--site a:nth-of-type(2) {
    display: none;
}

.md-nav--primary::before {
    content: "";
    display: block;
    background: url("https://www.naterscreations.com/imputegap/logo_imputegab.png") no-repeat center center;
    background-size: contain;
    height: 360px;
    margin-bottom: 360px;
}



.wy-nav-side {
    background: #f5f5f5;
}

.wy-menu-vertical a {
    color: #222;
    font-weight: bold;
    display: block; /* Ensures proper spacing */
    padding: 10px 0; /* Adjusts vertical spacing */
    margin-bottom: 8px; /* Adds space between links */
}

.rst-content .note {
    background-color: #eef4fc;
    border-left: 5px solid #3b7ddd;
    padding: 10px;
    text-align: justify;
}


/* Ensure nav tabs always remain visible, even on small screens */
.md-tabs {
    display: block !important;
    overflow-x: auto;
    white-space: nowrap;
}

.md-tabs__item {
    display: inline-block;
}

/* Force header background color */
[data-md-component="header"] {
    background-color: #546e7a !important;
}

/* Force tabs bar background color */
.md-tabs {
    background-color: #546e7a !important;
}




/* Prevent Material theme from hiding the nav links on mobile */
@media screen and (max-width: 76.1875em) {

    /* Ensure nav tabs always remain visible, even on small screens */
    .md-tabs {
        display: block !important;
        overflow-x: auto;
        white-space: nowrap;
    }

    .md-tabs__item {
        display: inline-block;
    }

    /* Force header background color */
    [data-md-component="header"] {
        background-color: #546e7a !important;
    }

    /* Force tabs bar background color */
    .md-tabs {
        background-color: #546e7a !important;
    }



}
