body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #333;
    background-color: #ffffff;
    text-align: justify;
}





.wy-nav-side {
    background: #f5f5f5;
}

.wy-menu-vertical a {
    color: #222;
    font-weight: bold;
    display: block; /* Ensures proper spacing */
    padding: 10px 0; /* Adjusts vertical spacing */
    margin-bottom: 8px; /* Adds space between links */
}

.rst-content .note {
    background-color: #eef4fc;
    border-left: 5px solid #3b7ddd;
    padding: 10px;
    text-align: justify;
}
